.christina ::-moz-selection {
  background: #5379bf;
  color: #eeeeee;
  text-shadow: none;
}
.christina ::selection {
  background: #5379bf;
  color: #eeeeee;
  text-shadow: none;
}
.christina {
  font: 16px Ubuntu, sans-serif;
}
.christina {
  color: #eeeeee;
  background: #444444;
  text-align: center;
}
.christina h1 {
  font: 300 normal 53px Ubuntu, sans-serif;
}
.christina h1 > b {
  color: #cccccc;
}
.christina h2 {
  font: 300 normal 32px Ubuntu, sans-serif;
}
.christina footer {
  height: 22px;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background: #666666;
  padding: 12px 0 14px 0;
  line-height: 22px;
}
.christina a.button {
  color: #eeeeee;
  background: #376094;
  text-decoration: none;
  padding: 0 6px 3px 6px;
}
.christina a.button:hover,
.christina a.button:focus {
  background: #5379bf;
}
.christina a.button:active {
  background: #376094;
}
.christina {
  padding: 0 0 48px 0;
}
.christina .wrap {
  position: relative;
  width: 600px;
  left: 50%;
  margin-left: -300px;
}
.christina ul {
  list-style-type: none;
  padding: 0;
  position: relative;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  font: 300 normal 19px Ubuntu, sans-serif;
}
.christina li {
  margin-bottom: 8px;
  background: #666666;
  padding: 0 0 2px 6px;
  text-align: left;
  position: relative;
}
.christina li b {
  background: #888888;
  text-align: center;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  width: 140px;
}
.christina .supported {
  background: #347a4b;
}
.christina .supported b {
  background: #419d5d;
}
