// Features page stylesheet.

@import "lib/common";

.christina {
    background: @mainBkg;
    color: @mainColor;
    .text-center;
    h1 {
        .title-light;
        > b {
            color: @softColor;
        }
    }
    h2 {
        .small-title;
    }
    .wrap {
        .center-h(600px);
    }
    ul {
        list-style-type: none;
        padding: 0;
        .center-h(400px);
        .bigtext;
    }
    li {
        margin-bottom: 8px;
        background: @lightBkg;
        padding: 0 0 2px 6px;
        .text-left;
        .relative;
        b {
            background: @lighterBkg;
            .text-center;
            .absolute;
            .block;
            .dock-right(140px);
        }
    }
    .supported {
        background: @greenBkg;
        b {
            background: @lightGreenBkg;
        }
    }
}
